.Forwardh{
    padding-top:  10px;
  text-align: center;
  background-image: url("BG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Forwardh2{
  padding-top:  10px;
text-align: center;
background-image: url("BG.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Centralh{
  padding-top:  10px;
text-align: center;
background-image: url("BG.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Centralh2{
  padding-top:  10px;
text-align: center;
background-image: url("BG.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Backwardh{
  padding-top:  10px;
text-align: center;
background-image: url("BG.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Backwardh2{
  padding-top:  10px;
text-align: center;
background-image: url("BG.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
